:host {
  display: block;
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 220px; // largura do menu lateral
  background: rgb(255, 153, 20);
}

mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 16px;
  background: #fafafa
 
}


img{
  width: 40px;       /* tamanho total */
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.sidebar-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
}

.logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.nome-app {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  line-height: 1.2; /* deixa "Atende" em cima do "Já" */
  color: #333;
}

.menu{
  top: 0px;
  position: fixed;
  
}