<form class="container">

  <div class="form mat-elevation-z8">

    <div class="header">
      <h1>Fila do pastel</h1>
      <img src="assets/chef.svg" alt="Imagem Chef" />
    </div>

    <img src="assets/pastelLogo.jpg" alt="Logo Pastel">

    <mat-form-field class="email-full-width" appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="creds.email" name="email" required email #email="ngModel" placeholder="Ex. email@email.com">
      <mat-error *ngIf="email.invalid && email.touched">E-mail inválido</mat-error>
    </mat-form-field>

    <mat-form-field class="senha-full-width" appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput [(ngModel)]="creds.senha" name="senha" required minlength="8" #senha="ngModel" type="password" placeholder="Ex. 12345678">
      <mat-error *ngIf="senha.invalid && senha.touched">Senha inválida</mat-error>
    </mat-form-field>

    <button (click)="logar(email, senha)" mat-raised-button color="primary" type="submit" class="input-full-width mat-elevation-z4" [disabled]="!validaCampos(email, senha)">
      Enviar
    </button>

  </div>
</form>